body {
	background-color: rgb(39,86,107);
	margin: 0px;
	padding: 0px;
}

#grid {
	display: grid;
	grid-template-rows: 10% 90%;
	grid-template-columns: auto auto;
}


#leftnav {
	color: white;
	background-color: rgb(42,42,42);
	display: flex;
	align-items: center;
}

#leftnav a {
	color: white;
	text-decoration: none;
}

#rightnav {
	grid-column: 2;
	background-color: rgb(42,42,42);
	color: white;
	float: right;
}

#rightnav img {
	float: right;
	height: 10vh;
	width: auto;
	border-radius: 100%;
}

#rightnav div {
	float: right;
	position: relative;
	top: 50%;
	transform: perspective(1px) translateY(-50%);
	margin-right: 10px;
}

#rightnav h5 {
	font-size: 1.5em;
	margin: 0px;
}

#rightnav h6 {
	font-size: 1em;
	margin: 0px;
}

#main {
	grid-row: 2;
	grid-columns: 1/2;	
}

h1, h2, h3, h4 {
	margin: 10px;
}

.small-icons {
	height: 40px;
	width: auto;
	float: right;
	margin: 10px 5px 0px 5px;
}

.pageTech {
	margin: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: inline-block;
}

.pageTech h6 {
	line-height: 60px;
	text-align: center;
	float: right;
}

#mypic {
	border-radius: 100%;
}