/* Written May 2018 by Leslie C. Bomar: contact mrlesbomar@gmail.com */

body {
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("close-up-code-coding-160107.jpg");
	background-repeat: no-repeat;
	background-size: 100vw auto;
}

.myrows {
	height: 25vh;
}

.jumbotron {
	background-color: rgba(233,236,239, 0.5);
}

@media (max-aspect-ratio: 5427/3648) {
	body {
		background-size: auto 100vh;
	}
}