/* Written May 2018 by Leslie C. Bomar: contact mrlesbomar@gmail.com */

body {
	background-color: lightgray;
}

h1 {
	font-weight: bold;
	font-size: 150%;
	margin: 10px 0px 20px 0px;
}

h6 {
	margin: 0px;
	font-size: 80%;
	font-weight: bold;
	color: rgb(80,80,80);
}

.article {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
}

.small-icons {
	height: 40px;
	width: auto;
	float: right;
	margin: 10px 5px 0px 5px;
}

.pageTech {
	margin: 5px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	display: inline-block;
}

.pageTech h6 {
	line-height: 60px;
	text-align: center;
	float: right;
}

#mypic {
	height: 200px;
	float: right;
}