/* Written May 2018 by Leslie C. Bomar: contact mrlesbomar@gmail.com */

body {
	background-color: lightgray;
}

h1 {
	font-weight: bold;
	font-size: 150%;
	margin: 10px 0px 20px 0px;
}

h6 {
	margin: 0px;
	font-size: 80%;
	font-weight: bold;
	color: rgb(80,80,80);
}

.article {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	margin-top: 10px;
}

.small-icons {
	height: 30px;
	width: auto;
	margin: 10px 5px 0px 5px;
}

.tinyIcons {
	height: 30px;
	width: auto;
}

#contactImage {
	float: right;
	text-align: center;
	position: relative;
}

#icondiv {
	margin-top: 10px;
	align-content: center;
}

#mypic {
	height: 200px;
	border-radius: 0% 20% 0% 20%;
	box-shadow: 5px 5px 2px black;
}

.filterButton {
	float: left;
}

.dropdown-menu {
	width: 100vw;
	position: absolute;
	left: 0px;
}

#techFilter {
	display: inline-flex;
	background-color: white;
	width: 100%;
	height: 40px;
}

#techFilter h5 {
	line-height: 40px;
	margin: 0px 10px 0px 10px;
}

#techFilter img {
	box-sizing: content-box;
	height: 30px;
	width: 30px;
	padding: 5px;
}

#techFilter img:hover {
	background-color: lightgreen;
}

.activeButton {
	background-color: black;
}